---
import Layout from '@layouts/Layout.astro';
import CardProject from '@components/card/CardProject.astro';
import { Button } from '@components/starwind/button';
import {
  Tabs,
  TabsList,
  TabsTrigger,
  TabsContent,
} from '@/components/starwind/tabs';

// content collections
import { getCollection } from 'astro:content';
// get all projects and sort by pubDate
const posts = (await getCollection('projects')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const data = {
  subtitle: 'Projects',
  title: '🔮 Crafting Digital Experiences That Convert ✨',
  desc: "Websites that drive business growth. UI/UX, front-end dev, WordPress & modern frameworks. Let's elevate your online presence.",
  cta: 'Back',
};
---

<Layout>
  <main class='mt-auto'>
    <section id='hero' class='py-24'>
      <div class='container mx-auto'>
        <Button size='sm' variant='outline' href='/about' class='mt-2'>
          {data.cta}</Button
        >
        <div class='mt-8 flex flex-col items-center justify-center gap-2'>
          <h1 class='text-center text-xl text-slate-600'>{data.subtitle}</h1>
          <h2
            class='lg:max-w-[800px] text-center text-3xl sm:text-6xl font-light'
          >
            {data.title}
          </h2>
          <p
            class='lg:max-w-[800px] text-center text-xl font-light text-slate-500 dark:text-slate-300'
          >
            {data.desc}
          </p>
        </div>

        <Tabs defaultValue='all' class='w-full mx-auto mt-12 flex flex-col'>
          <TabsList>
            <TabsTrigger value='all'>All</TabsTrigger>
            <TabsTrigger value='frontend'>Front-End</TabsTrigger>
            <TabsTrigger value='wordpress'>WordPress</TabsTrigger>
            <TabsTrigger value='webflow' disabled>Webflow</TabsTrigger>
          </TabsList>
          <TabsContent value='all'>
            <div class='mt-8 grid lg:grid-cols-2 lg:grid-rows-1 gap-4'>
              {
                posts.map((post) => (
                  <CardProject
                    href={`/project/${post.id}`}
                    image={post.data.image}
                    title={post.data.title}
                    sortTitle={post.data.sortTitle}
                    desc={post.data.desc}
                    siteLink={post.data.siteLink}
                  />
                ))
              }
            </div>
          </TabsContent>
          <TabsContent value='frontend'>
            <div class='mt-8 grid lg:grid-cols-2 lg:grid-rows-1 gap-4'>
              {
                posts
                  .filter((post) => post.data.category === 'Frontend')
                  .map((post) => (
                    <CardProject
                      href={`/project/${post.id}`}
                      image={post.data.image}
                      title={post.data.title}
                      sortTitle={post.data.sortTitle}
                      desc={post.data.desc}
                      siteLink={post.data.siteLink}
                    />
                  ))
              }
            </div>
          </TabsContent>
          <TabsContent value='wordpress'>
            <div class='mt-8 grid lg:grid-cols-2 lg:grid-rows-1 gap-4'>
              {
                posts
                  .filter((post) => post.data.category === 'WordPress')
                  .map((post) => (
                    <CardProject
                      href={`/project/${post.id}`}
                      image={post.data.image}
                      title={post.data.title}
                      sortTitle={post.data.sortTitle}
                      desc={post.data.desc}
                      siteLink={post.data.siteLink}
                    />
                  ))
              }
            </div>
          </TabsContent>
          <TabsContent value='webflow disabled'>
            <h2 class='py-8 text-center text-4xl text-slate-400'>
              🚧 Coming soon! 🚧
            </h2>
          </TabsContent>
        </Tabs>
        <div></div>
      </div>
    </section>
  </main>
</Layout>
