---
import { Picture } from 'astro:assets';
import { Button } from '@components/starwind/button';
const { href, image, title, sortTitle, desc, siteLink  } = Astro.props;
---

<div
  class='w-full p-4 lg:p-6 flex flex-col justify-center gap-3 border border-gray-200 rounded-lg'
>
  <a href={href}>
    <Picture
      src={image}
      alt={title}
      class='w-full rounded-lg'
      formats={['avif', 'webp']}
    />
  </a>
  <h3 class='text-2xl lg:mt-2'>{sortTitle}</h3>
  <p class='font-light line-clamp-2 text-zinc-700'>
    {desc}
  </p>
  <div class='flex gap-2'>
    <Button size='sm' href={href}>View Details</Button>
    <Button
      variant='outline'
      size='sm'
      href={siteLink}
      target={'_blank'}
    >
      Visit Site
    </Button>
  </div>
</div>
