---
import Layout from '@layouts/Layout.astro';
import { Button } from '@components/starwind/button';

// seo
import { LINKS_PAGE_SEO } from '@/data/seo';

// content
const data = {
  title: 'My Links',
  desc: 'リフキ',
  cta: 'Back',
};

// about me
const a = {
  name: 'Rifky Alamsyah',
  desc: 'UI Designer & Front-End Web Developer, based in Indonesia 🇮🇩',
  text: 'Resume',
  resumeUrl: 'https://read.cv/rifkyalamsyah',
  textTwo: 'Links',
  linkBio: 'https://lynk.id/rifkyalamsyah',
};

// social media
const social = {
  x: ['https://x.com/kya_devs', 'x'],
  ig: ['https://instagram.com/kya.devs', 'IG'],
  threads: ['https://threads.com/@kya.devs', 'Theads'],
};

// links cards
const links = [
  {
    title: 'Projects',
    desc: 'Discover my portfolio.',
    textBtn: 'See Portfolio',
    url: '/project',
  },
  {
    title: 'Shop',
    desc: 'Check out 3D Icons / Illustrations.',
    textBtn: 'Discover',
    url: 'http://rifkya.gumroad.com/',
  },
  {
    title: 'Blog',
    desc: 'Read my insightful articles.',
    textBtn: 'Read Article',
    url: '/blog',
  },
];
---

<Layout
title={LINKS_PAGE_SEO.title}
  desc={LINKS_PAGE_SEO.desc}
  canonical={LINKS_PAGE_SEO.url}
  domain={LINKS_PAGE_SEO.domain}
  url={LINKS_PAGE_SEO.url}
  ogImage={LINKS_PAGE_SEO.ogImage}>
  <main class='mt-auto'>
    <section id='About' class='py-24'>
      <div class='container mx-auto'>
        <Button size='sm' variant='outline' href='/' class='mt-2'>{data.cta}</Button>
        <div class='my-8 grid grid-cols-1 grid-rows-1 lg:grid-cols-3 lg:grid-rows-2 gap-4'>
          <div class='w-full lg:col-span-2 p-6 border border-gray-200 rounded-lg'>
            <h1 class='text-xl'>{a.name}</h1>
            <p class='font-light text-lg text-zinc-700 dark:text-zinc-300'>
              {a.desc}
            </p>
            <Button size='sm' href={a.resumeUrl} class='mt-2' target='_blank'
              >{a.text}</Button
            >
            <Button
              variant='outline'
              size='sm'
              href={a.linkBio}
              class='mt-2'
              target='_blank'>{a.textTwo}</Button
            >
          </div>
          <div
            class='w-full lg:col-start-3 p-6 border border-gray-200 rounded-lg flex flex-col justify-end gap-2'
          >
            <h2 class='text-xl'>Social Media</h2>
            <div class="flex flex-row gap-2">
              <Button
                size='sm'
                href={social.x[0]}
                class='mt-2'
                target='_blank'>{social.x[1]}</Button
              >
              <Button
                size='sm'
                href={social.ig[0]}
                class='mt-2'
                target='_blank'>{social.ig[1]}</Button
              >
              <Button
                size='sm'
                href={social.threads[0]}
                class='mt-2'
                target='_blank'>{social.threads[1]}</Button
              >
            </div>
          </div>
          <div class='w-full lg:row-start-2 p-6 border border-gray-200 rounded-lg'>
            <h2 class='text-xl'>{links[0].title}</h2>
            <p class='font-light text-zinc-700 dark:text-zinc-300'>
              {links[0].desc}
            </p>
            <Button size='sm' href={links[0].url} class='mt-2'
              >{links[0].textBtn}</Button
            >
          </div>
          <div class='w-full lg:row-start-2 p-6 border border-gray-200 rounded-lg'>
            <h2 class='text-xl'>{links[1].title}</h2>
            <p class='font-light text-zinc-700 dark:text-zinc-300'>
              {links[1].desc}
            </p>
            <Button size='sm' href={links[1].url} class='mt-2' target='_blank'
              >{links[1].textBtn}</Button
            >
          </div>
          <div class='w-full lg:row-start-2 p-6 border border-gray-200 rounded-lg'>
            <h2 class='text-xl'>{links[2].title}</h2>
            <p class='font-light text-zinc-700 dark:text-zinc-300'>
              {links[2].desc}
            </p>
            <Button size='sm' href={links[2].url} class='mt-2'
              >{links[2].textBtn}</Button
            >
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
