---
import '@styles/tailwind.css';
import '@styles/starwind.css';
import Head from './Head.astro';
const {title, desc, ogType, domain, url, ogImage} = Astro.props;
---

<!doctype html>
<html lang='en'>
  <Head title={title} desc={desc} ogType={ogType} domain={domain} url={url} ogImage={ogImage} />
  <body>
    <slot />
  </body>
</html>

<style>
  body {
    font-family: var(--font-outfit);
  }
</style>
